<div class="container">
<%= render "form", partner: @partner %>
<%= link_to partner_path, method: :delete, data: { confirm: "Are you sure?" } do %>
    <h2 button type="button" class="btn btn-danger">Delete partner</h2></button>
  <% end %>
</div>


