<div class="container-fluid">
<%= render "form", client: @client %>


<%= link_to client_path, method: :delete, data: { confirm: "Are you sure?" } do %>
 <i class="fa fa-trash destroy_dose text-warning text-decoration-none"></i>
<% end %>
</div>
