<div class="container-fluid">
  <h1>Clients</h1>
  <%= link_to new_client_path do %>
          <br>
            <h2>Create new client</h2>
            <% end %>

  <%= grid(@clients_grid) do |g|

  g.column name:  'Name', attribute: 'last_name', filter: false do |client|
    link_to(client.last_name, client_path(client))
  end

  g.column name:  'Phone Number', attribute: 'phone_number', filter: false do |client|
    client.phone_number
  end
  g.column name:  'E-mail', attribute: 'email', filter: false do |client|
    client.email
  end

g.column  name:  'Status', attribute: 'status', filter: false do |client|
    client.status
  end

  g.column  do |client|
    link_to('Edit', edit_client_path(client))
  end
end -%>

  </div>
