<div class="container-fluid">
  <h1>Clients</h1>

  <%= grid(@clients_grid) do |g|

  g.column name:  'Last name', attribute: 'last_name', filter: false do |client|
    client.last_name
  end

  g.column name:  'First Name', attribute: 'first_name', filter: false  do |client|
    client.first_name
  end

  g.column name:  'Phone Number', attribute: 'phone_number', filter: false do |client|
    client.phone_number
  end

g.column  name:  'Status', attribute: 'status', filter: false do |client|
    client.status
  end

  g.column  do |client|
    link_to('Edit', edit_client_path(client))
  end
end -%>

  </div>
